<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th ng-repeat="column in columns" ng-click="onHeaderClicked(column)">
            <div class="pull-left">{{column.label}}</div>
            <div ng-show="column.sortable" class="pull-right" ng-class="{invisible: !isSortedBy(column.name)}">
                <i ng-show="isOrder('asc')" class="fa fa-sort-asc fa-lg"></i>
                <i ng-show="isOrder('desc')" class="fa fa-sort-desc fa-lg"></i>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rows" ng-click="_onRowClicked(row)">
        <td ng-repeat="column in columns">{{row[column.name]}}</td>
    </tr>
    </tbody>
</table>